@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "baloo da 2";
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button{
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

body{
  background: linear-gradient(rgba(8,8,8, 0.2), rgba(8,8,8,0.2)),url(./imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

header{
  background-color: #000a;
  width: 100%;
}

header h1{
  text-align: center;
  font-size: 2.5rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 2px #0008;
  opacity: 0;
  animation: moveTitle 1.5s forwards;
}

.principal{
  width: 100%;
  min-height: 100vh;
  top: 0;
  overflow: hidden;
}

.principal h2{
  color: #fff;
  text-shadow: 2px 2px 2px #0008;
  text-align: center;
  margin-bottom: 1.5%;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.container-links{
  width: 100%;
  margin: 7.5% auto 40px auto;
  padding: 1.5%;
  background-color: rgba(0,0,0, 0.2);
  border-radius: 10px;
  box-shadow: 0.2rem 0.2rem 0.2rem #0006;
  opacity: 0;
  animation: moveCards 1.5s forwards;
}

.sessao-card{
  display: flex;
  justify-content: space-evenly;
}

.card{
  width: 100%;
  min-height: 7.0rem;
  margin: 0.2rem;
}

.card a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ddde;
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0,0,0, .5);
  font-family: "mulish";
  font-weight: bolder;
  text-transform: uppercase;
  color: #555;
}

.card a:hover{
  background-color: #333e;
  transition: 0.5s;
  color: #ddd;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #07080b;
  height: 10vh;
  width: 100%;
  text-align: center;
  bottom: 0;
  border: 3px solid #07080baa;
}

footer p{
  color: #a7a7a7;
  text-shadow: 1px 1px 1px #555555;
  font-size: 0.8rem;
}

@keyframes moveCards {
  0%{
      transform: translateY(10rem) rotateX(-45deg);
  }
  100%{
      transform: translateY(0) rotateX(0deg);
      opacity: 1;
    }
}

@keyframes moveTitle {
  0%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}